{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     test - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <p class="test">je suis l'index</p>
{% endblock %}