{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     test - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <p>je suis l'index</p>
{% endblock %}