{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     Graph performance - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div style="margin-top: 50px;"></div>
    <div class="graphPage">
    <div class="bs-example col-md-12" data-example-id="simple-responsive-table" >
        <div class="table-responsive">
            <table class=" table table-bordered">
                <thead >
                <tr >
                    <th class="row">Nom du fichier</th>
                    <th>19-04-2017</th>
                    <th>19-04-2017</th>
                    <th>19-04-2017</th>
                    <th>19-04-2017</th>
                    <th>19-04-2017</th>
                    <th>19-04-2017</th>
                    <th>19-04-2017</th>
                    <th>19-04-2017</th>
                    <th class="middleText">Moyenne Semaine </br> Du '13-04-2017' </br> Au '19-04-2017'</th>
                    <th class="middleText">Moyenne Semaine </br> Du '13-04-2017' </br> Au '19-04-2017'</th>
                    <th class="middleText">Moyenne Semaine </br> Du '13-04-2017' </br> Au '19-04-2017'</th>
                    <th class="middleText">Moyenne Semaine </br> Du '13-04-2017' </br> Au '19-04-2017'</th>

                </tr>
                </thead>
                <tbody >
                <tr>
                    <th scope="row">UCR_BOOKING_CP</th>
                    <td class="greenCase">01:21:22</td>
                    <td class="orangeCase">01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                </tr>
                <tr>
                    <th scope="row">UCR_CALCUL_AGREGATS</th>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                </tr>
                <tr>
                    <th scope="row">UCR_CIP_DATA</th>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                    <td>01:21:22</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}