
/*********************************************CSS COMON FROM ALL PAGES****************************************************/

.containerPage{
    width: 100% !important;
    margin: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}



/*********************************************CSS FROM HOME PAGE****************************************************/
body {
    width: 85%;
    display: block;
    margin: auto !important;
    font-family: "Terminal Dosis",Arial,Helvetica,sans-serif !important;
}

.containerHomePage{
    width: 75%;
    margin: auto !important;
    margin-top: 180px !important;
}

.colonneMenu{
    box-shadow: 3px 3px 5px #888888;
    /*border: 1px solid red;*/
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 15px;
}

.menuHomePage .headMenu{
    background-color: #37519f;
    border: 1px solid #37519f;

}

.menuHomePage .headMenu p{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
}

.menuHomePage .bodyMenu{
    background-color: #E8E8E8;
    border: 1.5px solid #37519f;
    height: 370px;
}

.menuHomePage .bodyMenu ul li, .menuHomePage .bodyMenu ul li a{
    color: #37519f;
    margin: 20px 0px;
    font-size: 18px;
    margin-right: 3px !important;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin-right: 2px;
    /*border: 1px solid red;*/
}

.menuHomePage .bodyMenu ul li a:hover, .menuHomePage .bodyMenu ul li a:focus{
    color: #0099FF;
}





.colonneTheme{
    color: #37519f !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
}
.colonneTheme .linkColonne{
    color: #37519f !important;
    border: 1px solid #B8B8B8;
    font-weight: bold;
    text-align: left;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 294px;
    background: #fff;
    /*box-shadow: 3px 3px 5px #ddd !important;*/
}

.colonneTheme .linkLine{
    text-align: center;
    font-size: 13px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-weight: bold;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.list-group-item:last-child{
    margin-bottom: 0;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.bkColorBlue{
    background: #0086b3 !important;
    color: #fff !important;
    text-shadow: none;
}
.bkColorOrange{
    background: #ff6600 !important;
    color: #fff !important;
    text-shadow: none;
}

.bkColorPink{
    background: #DC143C !important;
    color: #fff !important;
    text-shadow: none;
}

.bkColorYellow{
    background: #ffcc00 !important;
    color: #fff !important;
    text-shadow: none;
}

.bkColorGreen{
    background: #00b33c !important;
    color: #fff !important;
    text-shadow: none;
}

.bkColorPurple{
    background: #800080 !important;
    color: #fff !important;
    text-shadow: none;
}
/***********************************************END HOME PAGE*****************************************************/

