
/*********************************************CSS COMON FROM ALL PAGES****************************************************/

.containerPage{
    width: 100% !important;
    margin: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}



/*********************************************CSS FROM HOME PAGE****************************************************/
body {
    width: 85%;
    display: block;
    margin: auto !important;
    font-family: "Terminal Dosis",Arial,Helvetica,sans-serif !important;
}

.containerHomePage{
    width: 75%;
    margin: auto !important;
    margin-top: 180px !important;
}

.colonneMenu{
    box-shadow: 3px 3px 5px #888888;
    /*border: 1px solid red;*/
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 15px;
}

.menuHomePage .headMenu{
    background-color: #37519f;
    border: 1px solid #37519f;

}

.menuHomePage .headMenu p{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
}

.menuHomePage .bodyMenu{
    background-color: #E8E8E8;
    border: 1.5px solid #37519f;
    height: 370px;
}

.menuHomePage .bodyMenu ul li, .menuHomePage .bodyMenu ul li a{
    color: #37519f;
    margin: 20px 0px;
    font-size: 18px;
    margin-right: 3px !important;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin-right: 2px;
    /*border: 1px solid red;*/
}

.menuHomePage .bodyMenu ul li a:hover, .menuHomePage .bodyMenu ul li a:focus{
    color: #0099FF;
}
/***********************************************END HOME PAGE*****************************************************/

