{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
    Error's analysis - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container containerGraphPage">
        <h1 class="titleGraph">Error's analysis</h1>
        <div class="bs-example col-md-12" data-example-id="simple-responsive-table" >
            <div class="table-responsive">
                <table class=" table table-bordered">
                    <thead >
                        <tr >
                            <th class="row">Data_PV</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="blueHover">
                        <th >Query_Name</th>
                        <td >2017-05-27</td>
                        <td>2017-05-28</td>
                        <td>2017-05-29</td>
                        <td>2017-05-30</td>
                        <td>2017-05-31</td>
                        <td>2017-05-01</td>
                        <td>2017-05-02</td>
                        <td>2017-05-03</td>
                        <td>2017-05-04</td>
                        <td>2017-05-05</td>
                        <td>2017-05-06</td>
                    </tr>
                    <tr class="blueHover">
                        <th >UNKNOWN_CONTACT_PV</th>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                    </tr>

                    <tr>
                        <td class="test">&nbsp;</td>
                    </tr>
                    <tr class="blueHover">
                        <th >UNKNOWN_CONTACT_PV</th>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                        <td>1861</td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div><!-- end of displaying the graph average -->
    </div>


    </div>

{% endblock %}