{# src/CRM/ToolsBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

    {% block body %}
        <p>je suis le layout</p>
    {% endblock %}


